{:paths   ["src"]
 :deps    {org.clojure/clojure       {:mvn/version "1.11.1"}
           org.clojure/clojurescript {:mvn/version "1.11.60"}
           quil/quil                 {:mvn/version "4.3.1323"}}
 :aliases {:dev {:extra-paths ["target" "resources"]
                 :extra-deps  {com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
                 :main-opts   ["-m" "figwheel.main" "--build" "dev" "--repl"]}}}
